@font-face {
  font-family: "Prophet";
  font-style: normal;
  font-weight: 100 900;
  src: url("/passion-project-blog/fonts/ABCDailyScotchVariableEdu-Light.woff")
    format("woff");
}

html {
  @apply w-full h-full overflow-x-hidden;
  @apply flex flex-col items-center;
  font-family: "Prophet", serif;
  @apply bg-white;
}

body {
  @apply w-full h-full p-0 m-0;
  @apply flex flex-col items-center;
}

.prose {
  @apply max-w-screen-md mx-auto;

  & > * {
    @apply mb-8;
  }

  p:has(img),
  div:has(img) {
    p {
      @apply mb-0;
    }
    @apply mb-2;
  }

  img {
    @apply rounded-md;
  }

  a {
    @apply font-bold text-red;
  }

  h2 {
    @apply font-bold text-3xl;
  }

  h3 {
    @apply font-bold text-2xl;
  }

  p,
  li {
    @apply leading-loose text-justify;
  }

  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-10;
  }

  .title {
    @apply flex flex-col items-center gap-4;
    @apply mb-16;

    hr {
      @apply w-full;
    }
  }

  .astro-code {
    @apply rounded-lg;
    @apply text-sm;
    @apply p-8;
  }

  &:last-child {
    @apply mb-0;
  }
}

h1 {
  @apply text-7xl font-bold text-center text-green;
  @apply leading-tight;
}

.timeline-wrapper {
  @apply w-full max-w-full h-screen overflow-hidden;
  @apply flex flex-col justify-center;
}

.timeline {
  @apply min-w-full w-full;
  @apply relative;

  .line {
    @apply relative;
  }

  .axis {
    @apply relative top-[4.5px];
    @apply h-[1px] bg-black w-full;
  }
}

.hero {
  @apply w-full max-w-full my-20 flex flex-col items-center justify-center gap-20;
}

.post-list,
.markings,
.planning {
  @apply flex flex-row items-center gap-[100px];
}

.post-list {
  @apply mt-10;
}

.markings {
  @apply absolute top-0;
  .marking {
    @apply w-[10px] h-[10px] rounded-full bg-black mx-[245px];
  }
}

.planning {
  @apply mb-10 items-end;
}

.post-teaser {
  @apply w-[500px] max-w-[500px];
  @apply flex flex-col;
  @apply relative;
  @apply overflow-hidden rounded-lg;
  @apply border border-black;

  &:hover {
    .description {
      @apply translate-y-0;
    }
    .info {
      @apply h-[150%];
    }
  }

  .info {
    @apply absolute w-full h-1/3;
    @apply bg-gradient-to-b from-black to-transparent;
    @apply p-4;
    @apply text-white;
    @apply flex flex-row items-start justify-between;
    @apply transition-all duration-300 ease-in-out;
  }

  .title {
    @apply text-4xl font-bold;
    @apply max-w-[66%];
  }

  .date {
    @apply text-xl font-thin;
  }

  .image {
    @apply w-full object-cover;
    aspect-ratio: 16 / 7;
  }

  .description {
    @apply absolute;
    @apply bottom-0 w-full p-4;
    @apply translate-y-full;
    @apply transition-transform duration-300 ease-in-out;

    p {
      @apply text-white;
    }
  }
}

.post-teaser-placeholder {
  @apply flex flex-col items-center justify-center gap-4 text-center;
  @apply w-[500px] min-w-[500px];
  aspect-ratio: 16 / 7;
  @apply bg-gray-50 rounded-lg;
  @apply text-2xl font-bold;
}
