---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import "../styles/blogpost.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <a href="/" class="back">← Back</a>
    <main>
      <article class="blog-post">
        {
          heroImage && (
            <img class="hero-image" src={`/headers/${heroImage}`} alt="" />
          )
        }
        <div class="prose">
          <div class="title">
            <div class="date">
              {
                new Intl.DateTimeFormat("en", {
                  dateStyle: "full",
                }).format(pubDate)
              }
            </div>
            <h1>{title}</h1>
            <hr />
          </div>
          <slot />
        </div>
      </article>
    </main>
    <script>
      import { gsap } from "gsap";
      console.log("here");

      const sources = document.getElementsByClassName("source");

      let selectedSource: Element | null = null;

      for (const source of sources) {
        source.addEventListener("mouseenter", () => {
          source.classList.add("hover");
          selectedSource = source;
        });

        source.addEventListener("mouseleave", () => {
          source.classList.remove("hover");
          selectedSource = null;
        });
      }

      window.addEventListener("mousemove", (e) => {
        if (selectedSource) {
          const apa = selectedSource.children[1];
          gsap.to(apa, {
            x: e.clientX - selectedSource.getBoundingClientRect().left + 40,
            y: e.clientY - selectedSource.getBoundingClientRect().top - 20,
            duration: 0.5,
            overwrite: "auto",
          });
        }
      });
    </script>
  </body>
</html>
